.filter {
  display: flex;
  justify-content: space-between;
}

.filterMargin {
  margin: 30px;
}

.alignCenter {
  text-align: center;
}

.width100 {
  width: 100%;
}

.marginTop1 {
  margin-top: 1%;
}

.recordedData {
  margin: 0;
}
